---
import { AstroProps } from './Page.astro';

type Props = AstroProps

const { usage } = Astro.props;
---

<h2>Usage</h2>

{usage.usages.map((u: any) => {
  return <div>
    <h3>{u.name}</h3>
    <p>{u.description}</p>
    <article class="component">
      <div set:html={u.snippet}></div>
      <footer>
        <pre>
          <code class="language-html">
            {u.snippet}
          </code>
        </pre>
      </footer>
    </article>
  </div>
})}
