---
import type { AstroProps } from '../../../types/types';
// import type { AstroProps } from 'astro-custom-elements-docgen';
import '../styles/prism.css';
import '../styles/index.css';
import '../styles/a2k-styles.css';
import '@shoelace-style/shoelace/dist/themes/dark.css';

type Props = AstroProps;

const { component } = Astro.props
---
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{component.name}</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  />
  <script src="../scripts/prism.js"></script>
</head>
