---
import { AstroProps } from './Page.astro';

type Props = AstroProps;

const { navigation } = Astro.props;

const currentPath = Astro.url.pathname
---
<aside>
  <nav>
    <summary>Components</summary>
    <ul>
      {navigation.items.map((item)=> {
        return <li>
          <a aria-current={currentPath === item.slug ? true : undefined} href={item.slug}>{item.label}</a>
        </li>
      })}
    </ul>
  </nav>
</aside>
