:root {
  /* Base styles */
  --font-primary: Verdana;
  --font-primary-letter-spacing: 0.05em;

  --font-size-200: calc((21 / 16) * 1rem);

  --font-weight-heavy: 600;

  --spacing-unit: 8px;

  --spacing-50: calc(var(--spacing-unit) / 2);
  --spacing-100: var(--spacing-unit);
  --spacing-150: calc(var(--spacing-unit) * 1.5);
  --spacing-200: calc(var(--spacing-unit) * 2);
  --spacing-300: calc(var(--spacing-unit) * 3);

  --color-black: hsl(0deg, 0%, 0%);
  --color-gray-400: hsl(0deg, 0%, 64%);
  --color-gray-550: hsl(0deg, 0%, 78%);
  --color-gray-700: hsl(45deg, 11%, 86%);
  --color-white: hsl(0deg, 0%, 96%);

  --border-width: 2px;

  --border-medium: var(--border-width) solid var(--color-gray-400);
  --shadow-heavy: 2px 2px var(--color-black);

  --shadow-inset-heavy: inset 1px 1px var(--color-black);

  --outline-color-focus: var(--color-blue-300);
  --outline-offset-focus: var(--spacing-50);

  --font-color: var(--color-black);

  --stack-spacing-top: var(--spacing-100);

  --button-color-background: var(--color-gray-550);
  --button-font-color: var(--color-black);
  --button-padding: var(--spacing-100) var(--spacing-150);
  --button-padding-small: var(--spacing-50);
  --button-padding-large: var(--spacing-200) var(--spacing-300);
  --button-font-weight: var(--font-weight-heavy);
  --button-shadow-light: -0.5px -0.5px 0 0.5px var(--color-white);
  --button-shadow-heavy: 0px 0px 0 1px var(--color-black);
  --button-small-shadow: var(--button-shadow-light), var(--button-shadow-heavy);
  --button-small-shadow-active: inset 0.5px 0.5px 0 var(--color-black),
    inset -0.5px -0.5px 0 var(--color-white),
    0px 0px 0 0.5px var(--color-gray-550);
  --button-outline-offset: 2px;
  --button-font-family: var(--font-primary);
  --button-font-size-large: var(--font-size-200);

  --button-border: var(--border-medium);
  --button-border-width: 1px 0 0 1px;
  --button-border-style: dotted;
  --button-border-color: var(--color-white);
  --button-border-color-active: var(--color-black);
  --button-shadow: -1px 0 var(--color-white), 0px -1px 0 var(--color-white),
    var(--shadow-heavy);
  --button-shadow-active: 1px 0 var(--color-white), 0px 1px 0 var(--color-white),
    var(--shadow-inset-heavy);

  --marquee-background: var(--color-yellow-500);
  --marquee-animation-duration: 15s;
}
