:root {
  font-size: 16px;

  --pico-code-color: #969eaf;
  --pico-code-tag: #bb972c;
  --pico-code-attr: #c784b7;
  --pico-code-value: #71a4a1;
  --pico-code-comment: #6f7887;
}

body {
  padding: 32px;
  width: 100%;
  display: grid;
  gap: 8px;
  grid-template-areas:
    "sidebar"
    "content";
}

.sidebar {
  grid-area: "sidebar";
  min-width: 200px;
}

main {
  grid-area: "content";
  overflow: hidden;
}

@media(min-width: 800px) {
  body {
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "sidebar" "content";
  }
}

code {
  width: 100%;
  padding: 16px;
}

tr>th {
  min-width: 15ch;
}

tr>th:last-child {
  min-width: 50ch;
}

pre {
  margin-bottom: 0;
}

pre>code {
  padding: 0;
}

h2 {
  --pico-typography-spacing-top: 2rem;
}

summary {
  font-weight: 600;
  font-size: 1.2rem;
}

ul>li {
  padding-left: 16px;
}

a {
  width: fit-content;
}
